body {
    background-color: whitesmoke;
    color: black;
}

a {
    text-decoration: underline;
    color: black 
}

a:hover {
    color: white;
    background-color: black
}

.centered {
    max-width: 800px;
    text-align: center;
    margin: 0
}

.experience {
    text-align: left;
}
