body {
    background-color: whitesmoke;
    color: black;
}

main {
    text-align: center;
}

a {
    text-decoration: none;
    color: black 
}

a:hover {
    color: white;
    background-color: black
}